.container{
margin: 0 auto;
    background: #8e3c2e;
}
.navbar{
    background: #8e3c2e;
}
ul li{

    overflow: hidden;
}
.logo{
    height: 45px;
    padding-top: 10px;
}
body{

    background: #f9e8d6;
     background-image: url('backg.png');
    opacity: 0.9;

background-size:960px 774px;
background-repeat:no-repeat;
    background-position: 70%;


}
.main{
    background: #ffffff;
    background-image: url('pen.png');

    background-size:730px 100%;
    background-repeat:no-repeat;
background-position: center center;
    width: 730px;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px;
}
.page-title{
    text-align: center;
}
li a {

text-decoration: none;

}